<mat-form-field style="margin-left: 20px;" *ngIf="typeOfTable === 'followers'">
    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter by location">
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> Index </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container  *ngFor="let column of displayedColumns.slice(1, displayedColumns.lenght)">
        <ng-container matColumnDef={{column}}>
            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{column | titlecase}}</th>
            <td mat-cell *matCellDef="let element" [innerHtml]="element[column] | avatar | anchor | time"></td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
