table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-header-cell {
    text-align: center;
}

.mat-cell {
    text-align: center;
}